*{
  padding: 0;
  margin: 0;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;
  background-color: #2b2929;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display: flex;
  flex-direction: row;
  padding:0 20px;
  justify-content: space-between;
  background-color: #000;
  align-items: center;
  flex-wrap: wrap;
}

.logo{
  width: 200px;
}

nav ul{
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap:2rem;
  color: aliceblue;
  list-style: none;
  font-size: 1.3rem;
}

span{
  font-size: 1.8rem;
  
}

.carrito-btn a{
  display: flex;
  flex-direction: row;
  gap: 15px;
  border: 1px solid RED;
  padding: 7.5px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid grey;
}

.card-container{
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: white;
  color: #000;
  margin: 2px;
  border: #2b2929;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.item-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 15px 15px;

  
}

.ItemDetailContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  gap: 10px;
  width: 500px;
  align-self: center;
  text-align: center;
  background-color: white;
  color: #000;
  padding: 15px;

}

.btn-carrito{
  display: flex;
}

.card-img{
  width: 180px;
  height: 180px;
}

.checkout-container{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  gap: 15px;

}

.pago-btn{
  width: 100px;
  text-align: center;
  font-weight: 800;
  padding: 10px;
  background-color: rgb(210, 114, 4);
  border: 1px solid black;
}

.checkout-li{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: aliceblue;
  color: #000;
  padding: 10px;
  justify-content: space-between;
  
}

.btn{
  text-decoration: none;
  background-color: rgb(210, 114, 4);;
  padding: 2px 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
}

.btn:visited{
  color: #000;


}

.nav-link{
  color: whitesmoke;
  text-decoration: none;

}

.nav-link:visited{
  color: whitesmoke;

}

.card-body{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.input-quantity{
  text-align: center;
  
}

.item-precio{
  font-weight: 600;
}

